<!--ユーザープロフィール編集画面-->
<div class="container py-5">
  <div class="row py-5">
    <div class="col-md-2"></div>
    <div class="col-md-8">

      <%= form_with model:@user, local:true do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
        <table class="top-margin table-condensed table-borderless">
          <thead>
            <tr>
              <th colspan="2">
                <h2 class="text-left">
                  プロフィール編集
                </h2>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="bbd-uedit">
              <td style="width: 30%">
                <label>ユーザーネーム</label>
              </td>
              <td>
                <%= f.text_field :name, autofocus: true, class:"form-control"%>
              </td>
            </tr>
            <tr class="bbd-uedit">
              <td>
                <label>自己紹介</label>
              </td>
              <td>
                <%= f.text_area :self_introduction, :size=>"80x5", autofocus: true,class:"form-control" %>
              </td>
            </tr>
            <tr class="bbd-uedit">
              <td>
                <label>アイコン画像</label>
              </td>
              <td>
                <%= f.attachment_field :icon_image %>
              </td>
            </tr>
            <tr>
              <td colspan="2" class="text-right">
                <%= f.submit "プロフィール登録" ,class:"btn btn-sm btn-success pt-1 pb-1 pl-3 pr-3"%>
              </td>
            </tr>
          </tbody>
        </table>
      <% end %>

    </div>
  </div>
</div>







