  <tbody>
    <% scenarios.each do |scenario| %>
      <tr>
        <td>
          <%= link_to scenario_path(scenario) do %>
          <%= attachment_image_tag scenario, :scenario_image, :fill, 70, 90, fallback: "no_image.jpg",size: '70x90'%>
          <% end %>
        </td>
        <td>
          <%= link_to scenario.title, scenario_path(scenario), class: "scenario_#{scenario.id}" %></br>
          <%= scenario.system_category %> |
          <% scenario.tags.each do |tag| %>
            <%= link_to scenarios_path('tag_id': tag.id, sort: 4) do %>
              <%= tag.tag %>
            <% end %>
          <% end %></br>
          作者：<%= link_to scenario.user.name, user_path(scenario.user) %>　更新日：<%= scenario.created_at %></br>
          <% if scenario.user == current_user %>
            <%= link_to "編集", edit_scenario_path(scenario) %>
            |
            <%= link_to "削除", scenario_path(scenario), method: :delete %>
          <% else %>
            <%= scenario.overview %>
          <% end %>
        </td>
        <td>
          <% if scenario.favorited_by?(current_user) %>
            <p>
              <%= link_to scenario_scenario_favorite_path(scenario,scenario ), method: :delete do %>
                ♥<%= scenario.scenario_favorites.count %>
              <% end %>
            </p>
            <% else %>
            <p>
              <%= link_to scenario_scenario_favorites_path(scenario), method: :post do %>
                ♡<%= scenario.scenario_favorites.count %>
              <% end %>
            </p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
