<!--縦ドロップダウンメニューの表示処理-->
<script>
  $(function(){
    $('.sub_menu').hide();
    $('.sub_menu-two').hide();
    $('.main_menu-two').click(function() {
      $('ul.sub_menu-two').slideUp();
      $('.main_menu-two').removeClass('open');
      if($('+ul.sub_menu-two',this).css('display') == 'none') {
        // console.log('open');
        $('+ul.sub_menu-two',this).slideDown();
        $(this).addClass('open');
        return;
      }
    })
    $('.main_menu').click(function(){
        $('ul.sub_menu').slideUp();
        $('ul.sub_menu-two').slideUp();
        $('.main_menu').removeClass('open');
        $('.main_menu-two').removeClass('open');
        //+ul.sub_menu class[sub_menu]直後にあるulを参考にする
        //css('display') cssの「display」内容がnoneの時実行
      if($('+ul.sub_menu',this).css('display') == 'none'){
        $('+ul.sub_menu',this).slideDown();
        $(this).addClass('open');
      }
    });
  });
</script>

<div id="leftside-navigation">
  <h1 class="text-center title">Sear<span class="cap" data-tippy-content="隠し検索機能!"><%= link_to "c", searches_search_path %></span>h</h1>
  <nav>
  <ul id="menu">
    <li>
      <div class="main_menu-one">
        <%= link_to "総合投稿いいね順", scenarios_path(sort: 0) %>
      </div>
    </li>
    <li>
      <div class="main_menu-one"><%= link_to "週間投稿いいね順", scenarios_path(sort: 1) %></div>
    </li>
    <li>
      <div class="main_menu-one"><%= link_to "新着投稿順", scenarios_path(sort: 2) %></div>
    </li>
    <li class="has-child"><div class="main_menu">システムカテゴリ</div>
      <ul class="sub_menu">
      <li>
        <%= link_to scenarios_path(search_category: "システムカテゴリ",search_word: "クトゥルフ" ,sort: 5) do %>
          クトゥルフ
        <% end %>
      </li>
      <li>
        <%= link_to scenarios_path(search_category: "システムカテゴリ",search_word: "パラノイア" ,sort: 5) do %>
          パラノイア
        <% end %>
      </li>
      <li>
        <%= link_to scenarios_path(search_category: "システムカテゴリ",search_word: "インセイン" ,sort: 5) do %>
          インセイン
        <% end %>
      </li>
      <li>
        <%= link_to scenarios_path(search_category: "システムカテゴリ",search_word: "ソードワールド" ,sort: 5) do %>
          ソードワールド
        <% end %>
      </li>
      <li>
        <%= link_to scenarios_path(search_category: "システムカテゴリ",search_word: "アリアンロッド" ,sort: 5) do %>
          アリアンロッド
        <% end %>
      </li>
      <li>
        <%= link_to scenarios_path(search_category: "システムカテゴリ",search_word: "ネクロニカ" ,sort: 5) do %>
          ネクロニカ
        <% end %>
      </li>
      <li>
        <%= link_to scenarios_path(search_category: "システムカテゴリ",search_word: "ダブルクロス" ,sort: 5) do %>
          ダブルクロス
        <% end %>
      </li>
      <li>
        <%= link_to scenarios_path(search_category: "システムカテゴリ",search_word: "ゆうやけこやけ" ,sort: 5) do %>
          ゆうやけこやけ
        <% end %>
      </li>
      <li>
        <%= link_to scenarios_path(search_category: "システムカテゴリ",search_word: "グランクレスト" ,sort: 5) do %>
          グランクレスト
        <% end %>
      </li>
      <li>
        <%= link_to scenarios_path(search_category: "システムカテゴリ",search_word: "D&amp;D" ,sort: 5) do %>
          D&amp;D
        <% end %>
      </li>
      <li>
        <%= link_to scenarios_path(search_category: "システムカテゴリ",search_word: "ログ・ホライズン" ,sort: 5) do %>
          ログ・ホライズン
        <% end %>
      </li>
      <li>
        <%= link_to scenarios_path(search_category: "システムカテゴリ",search_word: "サタスペ" ,sort: 5) do %>
          サタスペ
        <% end %>
      </li>
      <li>
        <%= link_to scenarios_path(search_category: "システムカテゴリ",search_word: "シノビガミ" ,sort: 5) do %>
          シノビガミ
        <% end %>
      </li>
      <li>
        <%= link_to scenarios_path(search_category: "システムカテゴリ",search_word: "モノトーンミュージアム" ,sort: 5) do %>
          モノトーンミュージアム
        <% end %>
      </li>
      <li>
        <%= link_to scenarios_path(search_category: "システムカテゴリ",search_word: "ビギニングアイドル" ,sort: 5) do %>
          ビギニングアイドル
        <% end %>
      </li>
      <li>
        <%= link_to scenarios_path(search_category: "システムカテゴリ",search_word: "ウタカゼ" ,sort: 5) do %>
          ウタカゼ
        <% end %>
      </li>
      <li>
        <%= link_to scenarios_path(search_category: "システムカテゴリ",search_word: "マギカロギア" ,sort: 5) do %>
          マギカロギア
        <% end %>
      </li>
      <li>
        <%= link_to scenarios_path(search_category: "システムカテゴリ",search_word: "ガーデンオーダー" ,sort: 5) do %>
          ガーデンオーダー
        <% end %>
      </li>
      <li>
        <%= link_to scenarios_path(search_category: "システムカテゴリ",search_word: "ピーカーブー" ,sort: 5) do %>
          ピーカーブー
        <% end %>
      </li>
      <li>
        <%= link_to scenarios_path(search_category: "システムカテゴリ",search_word: "鵺鏡" ,sort: 5) do %>
          鵺鏡
        <% end %>
      </li>
      <li>
        <%= link_to scenarios_path(search_category: "システムカテゴリ",search_word: "神話創世RPGアマデウス" ,sort: 5) do %>
          神話創世RPGアマデウス
        <% end %>
      </li>
      <li>
        <%= link_to scenarios_path(search_category: "システムカテゴリ",search_word: "ダークデイズドライブ" ,sort: 5) do %>
          ダークデイズドライブ
        <% end %>
      </li>
      <li>
        <%= link_to scenarios_path(search_category: "システムカテゴリ",search_word: "ヤンキー＆ヨグ=ソトース" ,sort: 5) do %>
          ヤンキー＆ヨグ=ソトース
        <% end %>
      </li>
      <li>
        <%= link_to scenarios_path(search_category: "システムカテゴリ",search_word: "フィアスコ" ,sort: 5) do %>
          フィアスコ
        <% end %>
      </li>
      <li>
        <%= link_to scenarios_path(search_category: "システムカテゴリ",search_word: "その他" ,sort: 5) do %>
          その他
        <% end %>
      </li>
      </ul>
    </li>
    <li class="has-child"><div class="main_menu">難易度</div>
      <ul class="sub_menu">
      <li>
        <%= link_to scenarios_path(search_category: "難易度", search_word: "★" ,sort: 5) do %>
          ★
        <% end %>
      </li>
      <li>
        <%= link_to scenarios_path(search_category: "難易度", search_word: "★★", sort: 5) do %>
        ★★
        <% end %>
      </li>
      <li>
        <%= link_to scenarios_path(search_category: "難易度", search_word: "★★★", sort: 5) do %>
        ★★★
        <% end %>
      </li>
      <li>
        <%= link_to scenarios_path(search_category: "難易度", search_word: "★★★★", sort: 5) do %>
        ★★★★
        <% end %>
      </li>
      <li>
        <%= link_to scenarios_path(search_category: "難易度", search_word: "★★★★★", sort: 5) do %>
        ★★★★★
        <% end %>
      </li>
      </ul>
    </li>
    <li class="has-child"><div class="main_menu">プレイ時間</div>
      <ul class="sub_menu">
        <li class="has-child"><div class="main_menu-two">オフライン</div>
          <ul class="sub_menu-two">
            <li>
              <%= link_to scenarios_path(search_category: "プレイ時間", search_word_1: "オフライン" ,search_word_2: "1時間" ,sort: 5) do %>
                1時間
              <% end %>
            </li>
            <li>
              <%= link_to scenarios_path(search_category: "プレイ時間", search_word_1: "オフライン" ,search_word_2: "2時間" ,sort: 5) do %>
                2時間
              <% end %>
            </li>
            <li>
              <%= link_to scenarios_path(search_category: "プレイ時間", search_word_1: "オフライン" ,search_word_2: "3時間" ,sort: 5) do %>
                3時間
              <% end %>
            </li>
            <li>
              <%= link_to scenarios_path(search_category: "プレイ時間", search_word_1: "オフライン" ,search_word_2: "4時間" ,sort: 5) do %>
                4時間
              <% end %>
            </li>
            <li>
              <%= link_to scenarios_path(search_category: "プレイ時間", search_word_1: "オフライン" ,search_word_2: "5時間" ,sort: 5) do %>
                5時間
              <% end %>
            </li>
            <li>
              <%= link_to scenarios_path(search_category: "プレイ時間", search_word_1: "オフライン" ,search_word_2: "6時間" ,sort: 5) do %>
                6時間
              <% end %>
            </li>
            <li>
              <%= link_to scenarios_path(search_category: "プレイ時間", search_word_1: "オフライン" ,search_word_2: "7時間" ,sort: 5) do %>
                7時間
              <% end %>
            </li>
            <li>
              <%= link_to scenarios_path(search_category: "プレイ時間", search_word_1: "オフライン" ,search_word_2: "8時間以上" ,sort: 5) do %>
                8時間以上
              <% end %>
            </li>
          </ul>
      </li>
      <li class="has-child">
        <div class="main_menu-two">オンライン</div>
        <ul class="sub_menu-two">
          <li>
            <%= link_to scenarios_path(search_category: "プレイ時間", search_word_1: "オンライン" ,search_word_2: "1時間" ,sort: 5) do %>
              1時間
            <% end %>
          </li>
          <li>
            <%= link_to scenarios_path(search_category: "プレイ時間", search_word_1: "オンライン" ,search_word_2: "2時間" ,sort: 5) do %>
              2時間
            <% end %>
          </li>
          <li>
            <%= link_to scenarios_path(search_category: "プレイ時間", search_word_1: "オンライン" ,search_word_2: "3時間" ,sort: 5) do %>
              3時間
            <% end %>
          </li>
          <li>
            <%= link_to scenarios_path(search_category: "プレイ時間", search_word_1: "オンライン" ,search_word_2: "4時間" ,sort: 5) do %>
              4時間
            <% end %>
          </li>
          <li>
            <%= link_to scenarios_path(search_category: "プレイ時間", search_word_1: "オンライン" ,search_word_2: "5時間" ,sort: 5) do %>
              5時間
            <% end %>
          </li>
          <li>
            <%= link_to scenarios_path(search_category: "プレイ時間", search_word_1: "オンライン" ,search_word_2: "6時間" ,sort: 5) do %>
              6時間
            <% end %>
          </li>
          <li>
            <%= link_to scenarios_path(search_category: "プレイ時間", search_word_1: "オンライン" ,search_word_2: "7時間" ,sort: 5) do %>
              7時間
            <% end %>
          </li>
          <li>
            <%= link_to scenarios_path(search_category: "プレイ時間", search_word_1: "オンライン" ,search_word_2: "8時間以上" ,sort: 5) do %>
              8時間以上
            <% end %>
          </li>
        </ul>
      </li>
      </ul>
    </li>
  </ul>
  </nav>

</div>