<div class="container px-5 px-sm-0 mt-5">
  <div class="row">
    <div class="col-md-8">
      <!--いいね-->
        <% if @scenario.favorited_by?(current_user) %>
          <p>
            <%= link_to scenario_scenario_favorite_path(@scenario,@scenario_favorite ), method: :delete,class:"btn btn-outline-warning  pt-1 pb-1 pl-3 pr-3" do %>
              いいね解除♥<%= @scenario.scenario_favorites.count  %>
            <% end %>
          </p>
          <% else %>
          <p>
            <%= link_to scenario_scenario_favorites_path(@scenario), method: :post ,class:"btn btn-outline-warning  pt-1 pb-1 pl-3 pr-3" do %>
              いいねする♡<%= @scenario.scenario_favorites.count %>
            <% end %>
          </p>
        <% end %>

      <!--作品紹介-->
      <h2><%= @scenario.title %></h2>
      <div>
        <div class="btn btn-sm btn-danger" ><%= @scenario.system_category%></div>
        <% @scenario.tags.each do |tag| %>
          <%= link_to scenarios_path('tag_id': tag.id, sort: 4),class: 'text-decoration-none' do %>
            <div class=" btn btn-sm btn-warning "><%= tag.tag %></div>
          <% end %>
        <% end %></br>
      </div>
      <div>
        作者：<%= link_to @scenario.user.name, user_path(@scenario.user) %>
      </div>
      <div>
        難易度：<%= @scenario.level %>
        |
        人数：<%= @scenario.lower_limit_count %>～<%= @scenario.upper_limit_count %>
        |
        プレイ時間<%= @scenario.play_time %>[<%= @scenario.play_genre %>]</br>
      </div>
      <div class="text-break" >
        <%= @scenario.overview %>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <%= attachment_image_tag @scenario, :scenario_image, :fill, 200, 200, fallback: "no_image.jpg",size: '200x200' %>
      </div>
    </div>
  </div>
  <div class='row bbd12'></div>
  <div class="row">
    <div class="col-md-8">
      <div>
        <%= markdown(@scenario.content).html_safe %>
      </div>
    </div>
    <div class="col-md-4">
      <!--ユーザー情報-->
      <table>
        <tr>
          <%= attachment_image_tag(@user, :icon_image, :fill, 40, 40, fallback: "no_image.jpg",size: '50x50') %>
          <%= @user.name %>
        </tr>
        <tr>
      	  <th>
      	    <%= @user.self_introduction %>
          </th>
        </tr>
        <tr>
      	  <th>
      	    <% unless current_user.id == @user.id %>
              <% if current_user.following?(@user) %>
                <%= link_to "フォロー解除", user_relationships_path(@user.id), method: :delete,class:"btn btn-outline-primary   pt-1 pb-1 pl-3 pr-3" %>
              <% else %>
                <%= link_to "フォローする", user_relationships_path(@user.id), method: :post,class:"btn btn-outline-primary   pt-1 pb-1 pl-3 pr-3" %>
              <% end %>
      	    <% end %>
      	  </th>
        </tr>
      </table>
    </div>
  </div>
  <div class='row bbd12'></div>
  <div class="row">
    <!--作品コメント一覧-->
    <div class="comments">
      <div class="ol-md-8">
        コメント件数：<%= @scenario.scenario_comments.count %>
        <% @scenario.scenario_comments.each do |scenario_comment| %>
          <div>
          <%= attachment_image_tag(scenario_comment.user, :icon_image, :fill, 40, 40, fallback: "no_image.jpg",size: '40x40') %>
          <%= scenario_comment.user.name %>
          <%= scenario_comment.created_at %>
          </div>
          <div><%= scenario_comment.comment %></div>
          <% if scenario_comment.user == current_user %>
          <div class="comment-delete">
            <%= link_to "削除", scenario_scenario_comment_path(scenario_comment.scenario, scenario_comment), method: :delete %>
          </div>
          <% end %>
          <div class='row bbd12'></div>
        <% end %>
        </div>
      </div>
  </div>
  <div class="row">
    <h2>コメントの投稿</h2>
  </div>
  <div class="row">
    <!--作品コメント入力-->
    <div class="new-comment">
      <%= form_with(model:[@scenario, @Scenario_comment], local: true) do |f| %>
        <%= f.text_area :comment,size: '80x5',placeholder: "コメントをここに" %></br>
        <div class="text-right"><%= f.submit "送信する" ,class: 'btn btn-sm btn-dark'%></div>
      <% end %>
    </div>
  </div>
</div>


